.body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.toolbar{
    display: flex;
    justify-content: space-between;
    padding-left: 11rem;
    padding-right: 11rem;
  background-color: blueviolet;
  
}
.toolbar-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  
}
.toolbar-flex a{
    color: #d8921c;
    text-decoration: none;
}
.p-1{
    color:#d8921c ;
    font-size: 25px;
}
.toolbar-flex p{
color: white;
font-size: 25px;
}
.header{
    padding-left: 11rem;
    position: sticky;
    top: 0;
    background-color: white;
    padding-right: 11rem;
}
.menu{
    display: flex;
justify-content: space-between;
align-items: center;
font-size: 25px;
}
.menu li{
    list-style: none;
    cursor: pointer;
    border-bottom: none;
}
.menu button{
    color: white;
    background-color: blueviolet;
    border-radius:5px ;
    padding: 15px;
    border: none;
}
.menu a{
text-decoration: none;
}
.menu a:hover{
    border-bottom: blueviolet;
    transition: .7s;
}
.menu2 h1{
    color: white;
font-size:50px;
padding-top: 10rem;
}
.second{
    padding-left: 11rem;
    padding-right:11rem;
    background-image: url(../img/background.png);
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: space-between;
}

.menu2 p{
    color: white;
    font-size: 25px;

}
.menu2 button{
    color: black;
    background-color:#d8921c ;
    padding: 19px;
    border-radius: 5px;
    font-size: 19px;
    padding-left: 3rem;
    padding-right: 3rem;
}
.menu2 img{
    padding-bottom: 1rem;
}
.icon{
    display: flex;
    margin-top: 7rem;
    flex-direction: column;
    font-size: 3rem;
    height: 10px;
}
.icon a{
    color: white;
    padding-top: 3rem;
}
.icon a:hover{
    transform: rotate(360deg);
    transition:.9s;
color: yellow;
}
.services{
display: flex;
align-items: center;
justify-content: space-between;
}
 
.services h1{
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    white-space: nowrap;
    padding: 10px;
}
.services img{
    width: 100%;
}

.menu3{
    display: flex;
    justify-content: space-between;
 text-align: center;
 padding-left: 11rem;
padding-right: 11rem;
}

.menu3 img{
width: 250px;
}
.group h1{
    padding: 0 30px;
    font-weight: 500;
}
.menu3 p{
    padding-left: 35px;
    padding-right: 35px;
    color: rgba(102,101,102);
}
.group{
    box-shadow: 0 0 19px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 70px 18px;
}
.our-work{
    display: flex;
align-items: center;
justify-content: space-between;
}
.our-work h1{
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    white-space: nowrap;
    padding: 10px;
}
.our-work img{
    width: 100%;
}